body {
background: rgb(37,37,37);
background: linear-gradient(0deg, rgba(37,37,37,1) 20%, rgba(116,116,116,1) 85%);
}

.cards {
    width: 187px;
    height: 99px;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    display: inline-block;
    text-align: center;
    /*---gradient courtesy of CoolHue---*/
    background-image: linear-gradient( 135deg, #6B73FF 10%, #000DFF 100%);
    color: white;
    
}

.category{
    width: 186px;
    height: 48px;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    display: inline-block;
    text-align: center;
    background: white;
    border: 2px solid red;
}

.logo{
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.gamingArea{
    display: grid;
    grid-template-columns: 188px 188px 188px 188px 188px;
    grid-template-rows: 48px 99px 99px 99px 99px 99px 48px;
    grid-column-gap: 51px;
    grid-row-gap: 18px;
    grid-auto-flow: row;
    justify-content: center;
}

/*------- CARDS -----*/
.one {
    grid-row-start: 2;
}
.two {
    grid-row-start: 3;
}
.three {
    grid-row-start: 4;
}
.four {
    grid-row-start: 5;
}
.five {
    grid-row-start: 6;
}

#finalquestion {
    border: solid black 1px;
    grid-column-end: span 5;
}



/* ---- CATEGORIES ---*/
#cat1{
    grid-column-start: 1;
}
#cat2{
    grid-column-start: 2;
}
#cat3{
    grid-column-start: 3;
}
#cat4{
    grid-column-start: 4;
}
#cat5{
    grid-column-start: 5;
}
#finalquestion{
    grid-row-start: 7;
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    display: inline-block;
    text-align: center;
}

#correct {
    font-family: 'Pacifico', cursive;
    color: green;
}

#incorrect {
    font-family: 'Pacifico', cursive;
    color: red;
}
